<!DOCTYPE html>
{% extends 'index.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="{% url 'uptade_products' c_id=edi.id %}" enctype="multipart/form-data">
  {% csrf_token %}


<div class="col-sm-12 col-xl-12">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h1 class="mb-0">Add category</h1>
                      <small class="text-muted float-end">Default label</small>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="mb-3">
                         <label class="form-label" for="basic-default-fullname">Category_Name</label>
                      <select id="defaultSelect" class="form-select" name="Category_Name">
                          <option >Fruits</option>
                          <option >Vegetables</option>
                        </select>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Products_Name</label>
                          <input type="text" class="form-control" id="basic-default-fullname" placeholder="Products_Name" name="Products_Name" value="{{edi.Products_Name}}">
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Price</label>
                          <input type="text" class="form-control" id="basic-default-fullname" placeholder="Price" name="Price" value="{{edi.Price}}">
                        </div>
                        <div class="mb-3">
                       <label class="form-label" for="basic-default-fullname">Description</label>
                        <textarea class="form-control" placeholder="Description" name="Description" value="{{edi.Description}}" id="floatingTextarea" style="height: 150px;"></textarea>
                        </div>

                        <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                            <img src="{{edi.ProductImage.url}}" width="100px" height="100px">
                        <input class="form-control" type="file" name="image" id="formFileMultiple" multiple="">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
</form>
</body>
</html>
{% endblock %}